.tabs {
  width: 100%;
  height: 350px;
}

.tabs__menu {
  display: flex;
  height: 15%;
}

.tabs__btn {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 10px;
  font-size: 1.1rem;
  background-color: #eeeeee;
  transition: background 0.2s;
}

.tabs__btn:hover {
  background-color: #d7d4d4
}

.tabs__btn--firstChild {
  border-radius: 15px 0px 0px 0px

}

.tabs__btn--lastChild {
  border-radius: 0px 15px 0px 0px
}

.tabs__btn--active {
  background-color: #d7d4d4;
  border-bottom: 2px solid #009879
}


.tabs__section {
  height: 85%;
  padding-top: 10px;
  display: none;
}

.tabs__section--active {
  display: block;

}
