.d-header__selectContainer {
  display: flex;
  margin: 10px 0px
}

.d-header__col--left{
  flex: 1;
}

.d-header__col--right{
  margin-left: 10px;
  flex: 1;
}

.d-header__btn {
  padding: 10px;
  border: none;
  outline: none;
}

.d-header__btn:hover {
  background-color: hotpink;
}

.student {
  margin: 30px 0;
}

.student__info {
  margin: 10px 0px;
}

.student__printOnly {
  font-style: italic;
}

.student__nameContainer {
  margin-bottom: 5px;
}

.student__name {
  font-weight: 600;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.student__classCoach {
  font-weight: .8rem;
}

.student__classCoach--header {
  font-weight: 600;
}

.sReport__courseTitle {
  font-weight: 600;
  font-size: 1rem;
}

.sReport__teacher {
  font-weight: normal;
  color: gray;
}

.sReport__asmt {
  padding: 10px 15px;
  border-radius: 12px;
  text-align: center;
  font-size: 0.9rem;
}

.sReport__textarea {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  resize: none;
}

.sReport__textarea:focus {
  border: none;
  outline: none;

}

table {
  width: 100%;
}

th {
  height: 50px;
  background-color: #ed730a;;
  color: white;
  font-weight: 600;
}

th, td {
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}


/* Färgkodning för omdömen */
.option-IT {
  background-color: #ffd2cf !important;
}

.option-T {
  background-color: #96f2af !important;
}

.option-TEB {
  background-color: #6ec76e !important;
}

.option-UB {
  background-color: #feffd9 !important;
}
     
 

/* Responsiveness*/


@media screen and (max-width: 1024px) {
  html, textarea, button, .select-css {
    font-size: 75% !important;
  }

  th, td {
    padding: 5px !important;
  }
  .sReport__asmt {
    padding: 5px 10px !important;

  }
}

@media screen and (max-width: 768px) {
  html, textarea, button, .select-css {
    font-size: 65% !important;
  }
  body {
    overflow-x: hidden; /* Since nav-links is pushed outside, there will be a scroll if you don't remove it*/ 
  }

  /* .nav {
    min-height: 4vh;
  } */
  .nav__title {
    display: inline-block;
  }
  .nav__logo {
    flex: 1 0 auto;
  }
  .nav__user {
    flex: 1 0 auto;
    margin: 5px;
  }

  .nav__menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: #ed730a;
    display:block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%); /* Push it to the right*/
    transition: transform 0.5s ease-in;
  }
  .nav__li {
    opacity: 0;
    padding: 10px 0 10px 0;
  }
  .nav__hamburger {
    display: block;
  }
}

