/* =============
 Global Styles
================*/


*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #5d4954;
}

main {
  margin: 30px 10px 10px 10px;
  border-radius: 15px;
  padding: 7.5px;
  background-color: #fff;
}

.hidden {
  display: none !important;
}

.material-icons {
  vertical-align: middle;
}



/* =============
 Header & Nav
================*/

nav {
  display: flex;
  justify-content: space-around;  /* Display with spaces before, between, and after the items   */
  align-items: center; /* Center vertically */
  min-height: 10vh;
  background-color: #5d4954;
  align-self: stretch;
  box-shadow: 0 6px 5px -10px rgba(0,0,0,3);
}

nav, .logo-container, .nav-links, .user-container {
  color:rgb(226,226,226);
}

.logo-container {
  margin: 10px 20px 10px 20px;
  letter-spacing: 2px;
  flex: 1 0 auto;
  text-align: center;
}
.logo-container h4 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 5px;
  font-size: 1.3rem;;
}

.logo-emphasized {
  font-weight: 900;
  font-size: 1.5rem;
}

.logo-site-section {
  font-style: italic;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 3 0 auto;
  align-self: stretch;
}

.nav-links li {
  list-style: none;
  flex: 1;
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 500;
  font-size: 1rem;
  align-self: center;
  transition: 0.5s;
  padding: 0 15px;
}

.nav-links a:hover {
  transform:scale(1.1);
}

.nav-active {
  background-color: rgba(0,0,0,0.1);
}

.user-container {
  flex: 1 0 auto;
  margin: 10px;
  display: flex;
  justify-content: center;
}

#sign-in, #sign-out {
  color: inherit;
  background-color: transparent;
  transition: 0.3s;
  border: 2px solid rgb(226,226,226); ;
  text-align: center;
  font-size: 1rem;
  vertical-align: middle;
  border-radius: 12px;
}

#sign-in {
  padding: 10px 45px;
}

#sign-out {
  padding: 6px 20px;
}

.user-container button:hover {
  background-color: white;
  color: black;
}

.user-container .material-icons { 
  margin-right: 5px;
}

#user-name {
  margin-right: 5px;
  display: flex;
  align-items: center; /* Vertical center alignment */
  justify-content: center; /* Horizontal center alignment */;
}

.hamburger-menu-container {
  display: none; /* hamburger-menu-container is only used for mobile*/
  cursor: pointer;
  justify-content: flex-end;
}

.hamburger-menu-container div{
  width: 25px;
  height: 3px;
  background-color:rgb(226,226,226);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  font-weight: bold;
}

.nav-burger-active {
  transform: translateX(0%) /* Push it back to normality*/
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  } to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}


/* ===============
 Custom SELECT
 ============== */ 
.select-css {
	display: block;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: #fff;
}
.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
textarea:focus {
  border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;

}
.select-css option {
	font-weight:normal;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: gray;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}



/*==============
 Status-report
===============*/

.status-report-header {
  display: flex;
  justify-content: space-between;
}

.status-report-header .col1 {
  width: 25%;
  margin-right: 20px;
}

.status-report-header .col2 {
  width: 50%;
}

.status-report-header .col3 {
  width: 15%;
  text-align: right;
}

.btn-save {  
  border: 0;
  border-radius: 6px;
  padding: 8px 14px;
  background-color: rgba(39, 102, 39, 0.651);
  color: white;
}

.btn-save:hover {
  background-color: rgb(37, 211, 37);
}

.row {
  display: flex;
  margin: 20px 0;
  width: 100%;
}

.student-details-container {
  margin-right: 10px;
  width: 25%;
  display: flex;
  justify-content: center;
}


.student-portrait {
  width: 20%;
  /* display: flex;
  align-items: baseline;
  justify-content: center; */
}
.student-portrait img{
  max-width: 65%;
}
.student-personal-info {
  width: 75%;
}


.student-name {
  font-weight: 900;
  font-size: 1.1rem;
}

.assessment-container {
  margin-right: 10px;
  width: 25%;
}

.student-attendance {
  margin-top: .3rem;
  font-style: italic;
  font-size: 0.9rem;
}

.student-attendance .material-icons {
  margin-left: 5px;
  font-size: 1.3rem;
}

.comment-container {
  width: 48%
}

.comment-container textarea {
  width: 100%;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  border: 1px solid gray;
}
/* 
.welcome-teacher {
  margin: 20px 0 0 20px; 
}
 */
     
.option-IT {
  background-color: #ffd2cf !important;
}

.option-T {
  background-color: #96f2af !important;
}

.option-UB {
  background-color: #feffd9 !important;
}
     
 
 



@media screen and (max-width: 1024px) {
  html, textarea, .select-css {
    font-size: 75%
  }
  nav {
    min-height: 5vh;
  }
  .logo-container {
    margin: 5px 10px;
  }
  #sign-in{
    padding: 6px 10px;
  }
}

@media screen and (max-width: 768px) {
  html, textarea, .select-css {
    font-size: 65%;
  }
  body {
    overflow-x: hidden; /* Since nav-links is pushed outside, there will be a scroll if you don't remove it*/ 
  }
  
  nav {
    min-height: 4vh;
  }
  .logo-container h4 {
    display: inline-block;
  }
  .logo-container {
    flex: 1 0 auto;
  }
  .user-container {
    flex: 1 0 auto;
    margin: 5px;
  }
  /* .logo-container h4, .logo-emphasized {
    font-size: 12px;
  }
  .logo-container .logo-site-section {
    font-size: 8px;
  } */
  .user-container button{
    /* font-size: 10px; */
    padding: 7px 16px;
  }
  /* .user-container .material-icons { 
    font-size: 12px;
  } */

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color: #5d4954;
    display:block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%); /* Push it to the right*/
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    padding: 10px 0 10px 0;
  }
  .hamburger-menu-container {
    display: block;
  }
}

/* 
@media screen and (max-width: 1024px) {
  .select-css {
    font-size: 12px;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .select-css {
    font-size: 12px;
    flex: 1;
  }
} */

/* 
@media screen and (max-width: 768) {
  .status-report-header {
    flex-direction: column;
  }
} */