/* * * * * * * * * * * * * * * * * * * *
* T A B L E    O F    C O N T E N T S
* 1) Global Styles
* 2) Header & Nav
* 3) Main - Status Report
* 4) Responsiveness
* 5) Custom select
* 6) Loader
* 7) Toast
* * * * * * * * * * * * * * * * * * * * */



/* =========================================
* Global Styles
============================================*/

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 100%;
}

body {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ed730a;
}

body,textarea,button,select {
  font-family: 'Poppins', sans-serif;
}

main {
  min-height: 5vh;
  margin: 30px 10px 10px 10px;
  border-radius: 15px;
  padding: 7.5px;
  background-color: #fff;
}

.hidden {
  display: none !important;
}

/* =========================================
* Header & Nav
============================================*/

nav {
  display: flex;
  justify-content: space-around;  /* Display with spaces before, between, and after the items   */
  align-items: center; /* Center vertically */
  min-height: 10vh;
  background-color: #ed730a;
  align-self: stretch;
  box-shadow: 0 6px 5px -10px rgba(0,0,0,3);
}

nav, .logo-container, .nav-links, .user-container {
  color:black
}

.logo-container {
  margin: 10px 10px 10px 20px;
  width: calc(25% - 50px);
  
}

.logo-container h4, .logo-emphasized {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.logo-container h4 {
  font-weight: 200;
}

.logo-emphasized {
  font-weight: 800;
}

.logo-site-section {
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
  
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: calc(50% - 50px);
  align-self: stretch;
}

.nav-links li {
  list-style: none;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.nav-links a {
  color: inherit;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 0.9rem;
  align-self: center;
  transition: 0.5s;
  padding: 0 15px;
}

.nav-links a:hover {
  transform:scale(1.1);
}

.nav-active {
  background-color: rgba(0,0,0,0.1);
}

.user-container {
  width: calc(25% - 50px);
  margin: 10px;
  display: flex;
  justify-content: flex-end;
  align-self: stretch;
  vertical-align: middle;
}

.user-container .col1 {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: calc(100% - 30px)
}

.user-container .col2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sign-in {
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  font-size: 1rem;
  display: flex;
  border: 1px solid black;
  border-radius: 12px;
  padding: 8px;
  align-items: center; /* Center vertically */
}

#sign-in:hover {
  transform:scale(1.1);
}

#sign-in img {
  height: 20px;
  width: 20px;
  margin-left: 10px;

}

#user-email {
  font-size: .9rem;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

#sign-out {
  cursor: pointer;
  font-size: .8rem;
}

#sign-out:hover {
  color: rgb(45, 112, 255);
  transition: 0.3s
  
}

#user-pic {
  background-repeat:no-repeat;
  background-size:contain;
  height:35px;
  width:35px;
  margin-left: 10px;
  vertical-align: middle;
}

.user-container button:hover {
  background-color: white;
  color: black;
}

.user-container .material-icons { 
  margin-right: 5px;
}

.hamburger-menu-container {
  display: none; /* hamburger-menu-container is only used for mobile*/
  cursor: pointer;
  justify-content: flex-end;
}

.hamburger-menu-container div{
  width: 25px;
  height: 3px;
  background-color:rgb(226,226,226);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  font-weight: bold;
}

.nav-burger-active {
  transform: translateX(0%) !important; /* Push it back to normality*/
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  } to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* =========================================
* Main - Status Report
============================================ */

.status-report-header {
  display: flex;
  justify-content: space-between;
}

.status-report-header .col1 {
  width: calc(25% - 20px);
  margin-right: 20px;
}

.status-report-header .col2 {
  width: calc(50% - 20px);
  display: flex;
  align-items: center;
}

.statistics-container header{
  font-weight: 600;
  font-size: 1rem;
  margin-right: 15px;
}
.statistics-containers .statistics {
  display: flex;
  flex-direction: column;
}

.status-report-header .col3 {
  width: calc(25%-20px);
  text-align: right;
}

.btn-save {  
  border: 0;
  border-radius: 6px;
  padding: 8px 14px;
  background-color: rgba(39, 102, 39, 0.651);
  color: white;
}

.btn-save:hover {
  background-color: rgb(37, 211, 37);
}

.row {
  display: flex;
  margin: 25px 0;
  width: 100%;
}

.student-details-container {
  margin-right: 10px;
  width: calc(25% - 20px);
  display: flex;
  justify-content: center;
}


.student-portrait {
  overflow: hidden;
  background-size: 2.5rem;
  background-position: top;
  background-repeat: no-repeat;
  background-image: url('/resources/images/profile_placeholder.png');
  margin-right:10px;
  width: calc(20% - 10px);
}

.student-personal-info {
  width: calc(80% - 10px);
}

.student-class, .student-pnr {
  font-size: 0.9rem;
  margin-bottom: -5px;
}


.student-name {
  font-weight: 900;
  font-size: 1.1rem;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.assessment-container {
  margin-right: 10px;
  width: calc(25% - 20px)
}

.student-attendance {
  margin-top: .3rem;
  font-style: italic;
  font-size: 0.8rem;
}

.student-attendance .tooltip-icon {
  height: 1rem;
  width: 1rem;
}

.comment-container {
  width: calc(52% - 20px)
}

.comment-container textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  resize: vertical;
  overflow-y:hidden;
}
     
.option-IT {
  background-color: #ffd2cf !important;
}

.option-T {
  background-color: #96f2af !important;
}

.option-TEB {
  background-color: #6ec76e !important;
}

.option-UB {
  background-color: #feffd9 !important;
}
     
 

/* =========================================
* Responsiveness
============================================ */

@media screen and (max-width: 1024px) {
  html, textarea, button, .select-css {
    font-size: 75%
  }

  .logo-container h4, .logo-emphasized {
    font-size: 1.2rem;
  }
  nav {
    min-height: 5vh;
  }
  .logo-container {
    margin: 5px 10px;
  }
  #sign-in{
    padding: 6px 10px;
  }
}

@media screen and (max-width: 768px) {
  html, textarea, button, .select-css {
    font-size: 65%;
  }
  body {
    overflow-x: hidden; /* Since nav-links is pushed outside, there will be a scroll if you don't remove it*/ 
  }
  
  nav {
    min-height: 4vh;
  }
  .logo-container h4 {
    display: inline-block;
  }
  .logo-container {
    flex: 1 0 auto;
  }
  .user-container {
    flex: 1 0 auto;
    margin: 5px;
  }
  /* .logo-container h4, .logo-emphasized {
    font-size: 12px;
  }
  .logo-container .logo-site-section {
    font-size: 8px;
  } */
  .user-container button{
    /* font-size: 10px; */
    padding: 7px 16px;
  }
  /* .user-container .material-icons { 
    font-size: 12px;
  } */

  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color: #ed730a;
    display:block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%); /* Push it to the right*/
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    padding: 10px 0 10px 0;
  }
  .hamburger-menu-container {
    display: block;
  }
}

/* 
@media screen and (max-width: 1024px) {
  .select-css {
    font-size: 12px;
    flex: 1;
  }
}

@media screen and (max-width: 768px) {
  .select-css {
    font-size: 12px;
    flex: 1;
  }
} */

/* 
@media screen and (max-width: 768) {
  .status-report-header {
    flex-direction: column;
  }
} */


/* =========================================
* Custom Select
============================================ */

.select-css {
	display: block;
	font-size: 1rem;
	font-family: sans-serif;
	font-weight: 700;
	color: #444;
	line-height: 1.3;
  padding: .6em 1.4em .5em .8em;
  width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
.select-css::-ms-expand {
	display: none;
}

.select-css:hover {
	border-color: #888;
}
.select-css:focus {
	border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;
}
textarea:focus {
  border-color: #aaa;
	box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
	box-shadow: 0 0 0 3px -moz-mac-focusring;
	color: #222;
	outline: none;

}
.select-css option {
	font-weight:normal;
}

/* Disabled styles */
.select-css:disabled, .select-css[aria-disabled=true] {
	color: gray;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
	  linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
}
.select-css:disabled:hover, .select-css[aria-disabled=true] {
	border-color: #aaa;
}

/* =========================================
* Loader
============================================ */
#loader-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(255,255,255,0.7);
  justify-content: center;
}

#loader {
  position: absolute;
  top: 20%;
  display: inline-block;
  width: 100px;
  height: 100px;
}
#loader:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #d43333;
  border-color: #d43333 transparent #d43333 transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* =========================================
* Toast
============================================*/

.toast {
  position: fixed;
  top: 0px;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  max-width: 250px;
  padding: 8px;
  background: #cccccc;
  color: #333333;
  z-index: 9999;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, top 0.2s, visibility 0.2s;
}

.toast-show {
  top: 50px;
  opacity: 1;
  visibility: visible;
}

.toast-success {
  background-color: #00c02b;
  border-color: #009d23;
  color: #ffffff
}

.toast-error {
  background-color: #d50000;
  border-color: #BA0000;
  color: #ffffff;
}