/* https://patorjk.com/software/taag/#p=display&h=2&v=1&f=ANSI%20Regular&t=localstorage*/

/* * * * * * * * * * * * * * * * * * * *

████████  █████  ██████  ██      ███████      ██████  ███████          
   ██    ██   ██ ██   ██ ██      ██          ██    ██ ██               
   ██    ███████ ██████  ██      █████       ██    ██ █████            
   ██    ██   ██ ██   ██ ██      ██          ██    ██ ██               
   ██    ██   ██ ██████  ███████ ███████      ██████  ██               
                                                                       
 ██████  ██████  ███    ██ ████████ ███████ ███    ██ ████████ ███████ 
██      ██    ██ ████   ██    ██    ██      ████   ██    ██    ██      
██      ██    ██ ██ ██  ██    ██    █████   ██ ██  ██    ██    ███████ 
██      ██    ██ ██  ██ ██    ██    ██      ██  ██ ██    ██         ██ 
 ██████  ██████  ██   ████    ██    ███████ ██   ████    ██    ███████ 
                                                                       
                                                                       

* = Global Styles
* = Status Report: Teacher
* = Status Report: Coach
* = Status Report: Admin
* = Status Report: Student
* = Header & Nav
* = Custom select
* = Loader
* = Toast
* = Prio
* = Responsiveness 
*
* * * * * * * * * * * * * * * * * * * * */

/* =========================================
* Global Styles
============================================*/

*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.85);
  font-family: "Poppins", sans-serif;
}

body.wait,
body.wait * {
  cursor: wait !important;
}

textarea,
input,
button,
select {
  font-family: inherit;
  font-size: inherit;
}

h5 {
  font-weight: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.8rem;
  color: black;
}
h2 {
  font-size: 2.5rem;
  font-weight: 200;
}
h1 {
  font-size: 3rem;
  font-weight: 100; /* Hairline */
}
a {
  text-decoration: none;
  color: inherit;
}

body {
  font-size: 1rem;
  background-color: #ed730a;
}

img {
  vertical-align: middle;
}

.container {
  width: 95%;
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

main {
  min-height: 5vh;
  margin: 1.5em 0.5em 0.5em 0.5em;
  border-radius: 15px;
  padding: 0.67em;
  background-color: #fff;
}

.hidden {
  display: none !important;
}

.text-left {
  text-align: left;
}

.label {
  display: block;
}

.button {
  display: block;
  padding: 0.7em 1.4em; /* EM is relative to font-size of element. So you scale up padding based on font-size which you can apply with a separate class*/
  margin: 0 0.3em 0.3em 0;
  border: 0.16em solid rgba(255, 255, 255, 0);
  border-radius: 0.5em;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 400;
}

.button--small {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  border: 0.16em solid rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s all;
  cursor: pointer;
}

.button--blue {
  background-color: rgb(33, 158, 216);
}

.button--green {
  background-color: rgb(61, 172, 111);
}

.button--yellow {
  background-color: rgb(238, 209, 95);
}

.button--red {
  background-color: #c83f49;
}

.button--coral {
  background-color: coral;
  color: white;
}

.button:hover {
  border-color: rgba(255, 255, 255, 1);
}

.btn-group button {
  border: 0.16em solid rgba(255, 255, 255, 0.5);
  padding: 0.7em 1.4em;
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  float: left;
  transition: 0.5s all;
  cursor: pointer;
}

.btn-group--small button {
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.2rem;
  border: 0.16em solid rgba(255, 255, 255, 0.5);
  text-align: center;
  text-transform: uppercase;
  float: left;
  transition: 0.5s all;
  cursor: pointer;
}

.btn-group button:not(:last-child),
.btn-group--small button:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.btn-group button:first-of-type {
  border-radius: 0.7em 0 0 0.7em;
}

.btn-group button:last-of-type {
  border-radius: 0 0.7em 0.7em 0;
}

.btn-group button:hover,
.btn-group--small button:hover {
  background-color: #4c6;
}

.row {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
}

.row--centerX {
  justify-content: center; /* Center horizontally */
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex--centerY {
  align-items: center; /* Center vertically */
}

.flex--centerX {
  justify-content: center; /* Center horizontally */
}

a.link {
  color: rgb(11, 11, 177);
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

a.link:hover {
  transform: scale (1.05);
  text-decoration: underline;
}

/*
HOME 
*/

.home__nav {
  max-width: 375px;
  margin: 2rem auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-bottom: 0.5em;
  background-color: var(--clr-neutral-500);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--clr-neutral-700);
  color: var(--clr-neutral-100);
}

/* Add some padding inside the card container */
.card__body {
  padding: 0.25em;
}

.inputText {
  width: 100%;
  padding: 0.3em 1em;
  margin: 0.3em 0;
  box-sizing: border-box;
}

.textarea {
  width: 100%;
  padding: 0.33rem;
  border: 1px solid gray;
  resize: vertical;
  overflow-y: hidden;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.ml-1 {
  margin-left: 0.25rem;
}
.ml-2 {
  margin-left: 0.5rem;
}
.ml-3 {
  margin-left: 1rem;
}
.ml-4 {
  margin-left: 1.5rem;
}
.mr-1 {
  margin-right: 0.25rem;
}
.mr-2 {
  margin-right: 0.5rem;
}
.mr-3 {
  margin-right: 1rem;
}
.mr-4 {
  margin-right: 1.5rem;
}
.mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.mx-3 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.mx-4 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.my-1 {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.my-2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.my-3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.my-4 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.pt-1 {
  padding-top: 0.25rem;
}
.pt-2 {
  padding-top: 0.5rem;
}
.pt-3 {
  padding-top: 1rem;
}
.pt-4 {
  padding-top: 1.5rem;
}
.pb-1 {
  padding-bottom: 0.25rem;
}
.pb-2 {
  padding-bottom: 0.5rem;
}
.pb-3 {
  padding-bottom: 1rem;
}
.pb-4 {
  padding-bottom: 1.5rem;
}
.pl-1 {
  padding-left: 0.25rem;
}
.pl-2 {
  padding-left: 0.5rem;
}
.pl-3 {
  padding-left: 1rem;
}
.pl-4 {
  padding-left: 1.5rem;
}
.pr-1 {
  padding-right: 0.25rem;
}
.pr-2 {
  padding-right: 0.5rem;
}
.pr-3 {
  padding-right: 1rem;
}
.pr-4 {
  padding-right: 1.5rem;
}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.px-3 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.px-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.mobile-only--inline {
  display: none;
}

.mobile-only--block {
  display: none;
}

/* =========================================
* Header & Nav
============================================*/

.nav {
  display: flex;
  min-height: 10vh;
  background-color: #ed730a;
  align-self: stretch;
  box-shadow: 0 6px 5px -10px rgba(0, 0, 0, 3);
  align-items: center;
}

.nav__logo {
  margin: 0.75em 0.75em 0.75em 2em;
  width: 25%;
  display: flex;
  align-items: center;
}

.nav__title {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.nav__title--thin {
  font-weight: 200;
}

.nav__title--emphasized {
  font-weight: 800;
}

.nav__subtitle {
  font-style: italic;
  font-weight: 200;
  font-size: 1rem;
}

.nav__menu {
  display: flex;
  width: 50%;
  align-self: stretch;
  margin-left: auto; /* Center*/
  margin-right: auto; /* Center*/
}

.nav__li {
  list-style: none;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
}

.nav__a {
  letter-spacing: 2px;
  font-weight: 500;
  align-self: center;
  transition: 0.5s;
  padding: 0 1rem;
  text-decoration: none;
  color: inherit;
}

.nav__a:hover {
  transform: scale(1.1);
}

.nav__li--active {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav__user {
  width: 25%;
  margin: 0.67rem;
  align-self: stretch;
  margin-left: auto;
}

.nav__signedIn,
.nav__signedOut {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; /* Vertical */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nav__userColumn--left {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.nav__userColumn--right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__sign-in {
  width: 50%;
  height: 3rem;
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
  display: flex;
  border: 1px solid black;
  padding: 0.5rem;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

.nav__sign-in:hover {
  border-color: rgba(255, 255, 255, 1);
}

.nav__sign-in-icon {
  height: 1.25rem;
  width: 1.25rem;
  margin-left: 10px;
}

.nav__email {
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.nav__sign-out {
  cursor: pointer;
  font-size: 0.8rem;
}

.nav__sign-out:hover {
  color: rgb(45, 112, 255);
  transition: 0.3s;
}

.nav__picture {
  background-repeat: no-repeat;
  background-size: contain;
  height: 2rem;
  width: 2rem;
  margin-left: 0.67rem;
  vertical-align: middle;
}

.nav__hamburger {
  display: none;
  cursor: pointer;
  justify-content: flex-end;
}

.nav__hamburger div {
  width: 25px;
  height: 3px;
  background-color: rgb(226, 226, 226);
  margin: 5px;
  transition: all 0.3s ease;
}

.nav__link-container--active {
  font-weight: bold;
}

.nav__hamburger--active {
  transform: translateX(0%) !important; /* Push it back to normality*/
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .hamburger__line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .hamburger__line2 {
  opacity: 0;
}
.toggle .hamburger__line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* =========================================
* Status Report: Teacher
.___________. _______      ___       ______  __    __   _______ .______      
|           ||   ____|    /   \     /      ||  |  |  | |   ____||   _  \     
`---|  |----`|  |__      /  ^  \   |  ,----'|  |__|  | |  |__   |  |_)  |    
    |  |     |   __|    /  /_\  \  |  |     |   __   | |   __|  |      /     
    |  |     |  |____  /  _____  \ |  `----.|  |  |  | |  |____ |  |\  \----.
    |__|     |_______|/__/     \__\ \______||__|  |__| |_______|| _| `._____|
                                                                             
* ============================================ */

.reportNav {
  display: flex;
  justify-content: space-between;
}

.reportNav__col1 {
  width: calc(85% - 1rem);
  margin-right: 1rem;
}

.reportNav__col2 {
  width: calc(20% - 1rem);
  display: flex;
  justify-content: flex-end;
}

.reportNav__statsBlock {
  margin: 0.67rem 0.33rem 0.67rem 0;
}

.reportNav__progressRow {
  width: 100%;
  display: flex;
  margin: 0.33rem 0;
}

.reportNav__barHeader {
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 0.33rem;
  text-align: center;
  font-size: 0.9rem;
  width: 15%;
}

.reportNav__bar {
  width: 85%;
  background-color: grey;
}

.reportNav__progress {
  height: 30px;
  background-color: #4caf50;
  text-align: center; /* To center it horizontally (if you want) */
  line-height: 30px; /* To center it vertically */
  color: white;
}

.btn-save {
  width: 100%;
  height: 100%;
  background-color: #4caf50; /* Green */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 0.9rem;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #4caf50;
  color: white;
}

.btn-save:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.student {
  display: flex;
}

.student:nth-child(even) {
  background-color: #f2f2f2;
}

.student__col--1 {
  width: 43%;
}

.student__col--2 {
  width: 57%;
}

.student-class,
.student-pnr,
.student-attendance {
  font-size: 0.9rem;
}

.student__header {
  margin-bottom: 0.5em;
  letter-spacing: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.student__infoBlock,
.student__infoBlock--first {
  margin-right: 0.33em;
}

.student__infoBlock--second {
  margin-left: auto; /* Pushes to the end */
}

.student__infoBlock {
  display: flex;
}

.tooltip-icon {
  height: 1rem;
  width: 1rem;
}

.textarea-comment {
  width: 100%;
  padding: 0.33rem;
  border: 1px solid gray;
  resize: vertical;
  overflow-y: hidden;
}
.textarea-comment::placeholder {
  letter-spacing: 0.125rem;
}

/* =========================================
* Status Report: Coach
  ______   ______        ___       ______  __    __  
 /      | /  __  \      /   \     /      ||  |  |  | 
|  ,----'|  |  |  |    /  ^  \   |  ,----'|  |__|  | 
|  |     |  |  |  |   /  /_\  \  |  |     |   __   | 
|  `----.|  `--'  |  /  _____  \ |  `----.|  |  |  | 
 \______| \______/  /__/     \__\ \______||__|  |__| 
                                                     

* ============================================ */

.d-header__selectContainer {
  display: flex;
  margin: 0.67rem 0px;
}

.report__formToDiv {
  font-size: 0.85rem;
  white-space: pre-wrap;
  border: 1px solid black;
  padding: 0.33rem;
  margin: 10px 0;
  min-height: 10px;
}

.d-header__col--left {
  flex: 1;
}

.d-header__col--right {
  margin-left: 0.67rem;
  flex: 1;
}

/* =========================================
* Status report: Statistics

     _______..___________.    ___   .___________.    _______.
    /       ||           |   /   \  |           |   /       |
   |   (----``---|  |----`  /  ^  \ `---|  |----`  |   (----`
    \   \        |  |      /  /_\  \    |  |        \   \    
.----)   |       |  |     /  _____  \   |  |    .----)   |   
|_______/        |__|    /__/     \__\  |__|    |_______/    
                                                             
============================================ */

.tabs {
  width: 100%;
  height: 100%;
}

.tabs__menu {
  display: flex;
  height: 15%;
}

.tabs__btn {
  flex: 1;
  height: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.67em;
  font-size: 1.1rem;
  background-color: #eeeeee;
  transition: background 0.2s;
}

.tabs__btn:hover {
  background-color: #d7d4d4;
}

.tabs__btn--firstChild {
  border-radius: 15px 0px 0px 0px;
}

.tabs__btn--lastChild {
  border-radius: 0px 15px 0px 0px;
}

.tabs__btn--active {
  background-color: #d7d4d4;
  border-bottom: 2px solid #009879;
}

.tabs__section {
  height: 85%;
  padding-top: 0.67em;
  display: none;
}

.tabs__section--active {
  display: block;
}

.tabs__body {
  width: 80%;
  margin: 0 auto;
}

.openStudent,
.openCourse,
.addStudentToCoachlist,
.openUserToEdit {
  cursor: pointer;
}

.openStudent > *,
.openCourse > *,
.addStudentToCoachlist > *,
.openUserToEdit > * {
  pointer-events: none;
}

.card__text--alternative {
  color: rgb(53, 53, 168);
  font-weight: 300;
}

.search__content {
  border: 1px solid black;
  border-radius: 12px;
  padding: 0.33em;
}

.search__matchList {
  max-height: 250px;
  overflow-y: scroll;
}

.radio-group {
  float: left;
  width: 100%;
  display: block;
}

.radio-group label {
  float: left;
  width: 20%;
  border: 1px solid #d0d0d0;
  overflow: auto;
  cursor: pointer;
}

.radio-group label:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.radio-group label:first-of-type {
  border-radius: 0.7em 0 0 0.7em;
}

.radio-group label:last-of-type {
  border-radius: 0 0.7em 0.7em 0;
}

.radio-group label span {
  text-align: center;
  font-size: 1rem;
  padding: 0.7em 0px;
  display: block;
}

.radio-group label input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radio-group input:checked + span {
  background-color: rgb(61, 172, 111);
  color: #f7f7f7;
}

.teaStat__row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.teaStat__col-1 {
  width: 30%;
}

.teaStat__col-2 {
  width: 60%;
}

.teaStat__scrollBlock {
  width: 100%;
  height: 400px;
  overflow: scroll;
}

.td--overflowEllipsis {
  text-overflow: ellipsis;
  /* Required for text-overflow to do anything */
  white-space: nowrap;
  overflow: hidden;
}

.classRow__col--header {
  flex-basis: 25%;
  font-weight: bold;
}

.classRow__col {
  flex-basis: 25%;
  text-align: center;
}

.classRow__studentRow {
  display: flex;
  border-bottom: 1px dotted black;
  cursor: pointer;
}

.classRow__studentRow > * {
  pointer-events: none;
}

/* =========================================
* Status report: Student
     _______..___________. __    __   _______   _______ .__   __. .___________.
    /       ||           ||  |  |  | |       \ |   ____||  \ |  | |           |
   |   (----``---|  |----`|  |  |  | |  .--.  ||  |__   |   \|  | `---|  |----`
    \   \        |  |     |  |  |  | |  |  |  ||   __|  |  . `  |     |  |     
.----)   |       |  |     |  `--'  | |  '--'  ||  |____ |  |\   |     |  |     
|_______/        |__|      \______/  |_______/ |_______||__| \__|     |__|     
                                                                               
============================================ */

.nav__logo--student {
  margin-right: auto !important; /* Alltid längst till vänster*/
}

.nav__user--student {
  margin-left: auto !important; /* Alltid längst till höger*/
}

.data__header {
  margin: 10px 0px;
}

.data__accordion {
  margin: 10px 0px;
}

.data__print {
  display: flex;
  justify-content: flex-end;
}

.accordion__button {
  width: 100%;
  padding: 1em;
  border: none;
  outline: none;
  cursor: pointer;
  background: #333333;
  color: #ffffff;
  text-align: left;
  transition: background 0.2s;
}

.accordion__button > * {
  pointer-events: none;
}

.accordion__button::after {
  content: "\25be" /* Hexadecimal for unicode down-triangle*/;
  float: right;
  transform: scale(1.5);
}

.accordion__button--active + .accordion__content {
  display: block;
}
.accordion__button--active {
  background: #555555;
}

.accordion__button--active::after {
  content: "\25b4" /* Hexadecimal for unicode down-triangle*/;
}

.accordion__content {
  display: none;
  overflow: auto;
  padding: 0 15px; /* <p> adds margin top and bottom anyway*/
  background: #eeeeee;
}

.sGrid__body .row {
  border-bottom: 1px dotted black;
}

.sGrid__row:nth-of-type(even) {
  background: #f2f2f2;
}

.sGrid__th {
  font-weight: 600;
  height: 3rem;
  background-color: #ed730a;
  color: white;
  display: flex;
  align-items: center;
  padding: 1em;
  border-radius: 1em;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
}

.sGrid__teacher {
  color: #555555;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.signatur {
  display: none;
}

.report__printOnly {
  display: none;
}

.asmt-box {
  padding: 0.67em 1em;
  border-radius: 12px;
  text-align: center;
  font-size: 0.85rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.comment-text {
  font-size: 0.85rem;
  white-space: pre-wrap;
}

.rs__header {
  margin-bottom: 1em;
}

.rs__name {
  text-transform: uppercase;
}

.rs__courseTitle {
  font-weight: 600;
  font-size: 1rem;
}

.rs__teacher {
  font-weight: normal;
  color: gray;
}

.student__headerRow {
  position: relative;
}

.student__printBtn {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
}

.form__label {
  display: block;
  margin: 1rem 0;
  font-weight: 600;
}

.form-container__button {
  display: block;
  padding: 0.67em 1em;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(3, 102, 28);
  transition: background 0.2s;
  color: white;
}

/* =========================================
* Custom Select
============================================ */

.select-css {
  display: block;
  font-size: 1rem;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-css::-ms-expand {
  display: none;
}

.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.textarea-comment:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

.select-css option {
  font-weight: normal;
}

/* Disabled styles */
.select-css:disabled,
.select-css[aria-disabled="true"] {
  color: gray;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22graytext%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
}
.select-css:disabled:hover,
.select-css[aria-disabled="true"] {
  border-color: #aaa;
}

/* =========================================
* Loader
============================================ */
#loader-wrapper {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  background-color: rgba(255, 255, 255, 0.7);
  justify-content: center;
}

#loader {
  position: absolute;
  top: 20%;
  display: inline-block;
  width: 100px;
  height: 100px;
}
#loader:after {
  content: " ";
  display: block;
  width: 80px;
  height: 80px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #d43333;
  border-color: #d43333 transparent #d43333 transparent;
  animation: spin 1.2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* =========================================
* Toast
============================================*/

.toast {
  position: fixed;
  top: 0;
  left: 50%;
  margin: auto;
  text-align: center;
  max-width: 350px;
  padding: 1em;
  background: #cccccc;
  color: #333333;
  z-index: 9999;
  border: 1px solid #aaaaaa;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  transform: translate(-50%);
  /* transition: opacity 0.2s, top 0.2s, visibility 0.2s; */
}

.toast-show {
  visibility: visible;
  animation: toastFadeInOut 3s;
}

.toast-success {
  background-color: #00c02b;
  border-color: #009d23;
  color: #ffffff;
}

.toast-error {
  background-color: #d50000;
  border-color: #ba0000;
  color: #ffffff;
}

@keyframes toastFadeInOut {
  5%,
  95% {
    opacity: 1;
    top: 50px;
  }
  15%,
  85% {
    opacity: 1;
    top: 30px;
  }
}

/*
     ___       _______  .___  ___.  __  .__   __. 
    /   \     |       \ |   \/   | |  | |  \ |  | 
   /  ^  \    |  .--.  ||  \  /  | |  | |   \|  | 
  /  /_\  \   |  |  |  ||  |\/|  | |  | |  . `  | 
 /  _____  \  |  '--'  ||  |  |  | |  | |  |\   | 
/__/     \__\ |_______/ |__|  |__| |__| |__| \__| 
                                                  
*/

.objectTree__mainTable {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.admin__interactionRow {
  display: flex;
}

.ot__valuesTable {
  border-collapse: collapse;
}

.ot__button {
  display: block;
  width: 24px;
  height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.ot__button--invisible {
  visibility: hidden;
}

.search-output {
  max-height: 200px;
  overflow-y: scroll;
  padding: 0.25em;
}

.search-output li {
  margin-left: 1em;
}

.ot__textformatting {
  border: 1px solid transparent;
  min-height: 16px;
  min-width: 16px;
  padding: 2px;
  margin: 1px;
  word-wrap: break-word;
  float: left;
}

.ot__dragArea::before {
  content: "⛬";
}

.ot__menuButton::before {
  content: "☰";
}

.ot__separator::before {
  content: " : ";
}

.ot__btn--collapsed::before {
  content: "▲";
}

.ot__btn--expanded::before {
  content: "▶";
}

.ot__value--object::before {
  content: "{";
}
.ot__value--object::after {
  content: "}";
}

.ot__value--array::before {
  content: "[";
}
.ot__value--array::after {
  content: "]";
}

.ot__value--string {
  color: #006000;
}

.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}

.input-group-input {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
  padding: 6px 12px;
  border: 1px solid #ccc;
  margin: 0;
}

.suffix input {
  border-radius: 4px 0px 0px 4px;
}
.suffix .input-group-addon {
  border-left: 0;
  border-radius: 0px 4px 4px 0px;
}
.prefix input {
  border-radius: 0px 4px 4px 0px;
}
.prefix .input-group-addon {
  border-right: 0;
  border-radius: 4px 0px 0px 4px;
}
.presuffix input {
  border-radius: 0px;
}
.input-group-addon.prefix {
  border-radius: 4px 0px 0px 4px;
  border-right: 0;
}
.input-group-addon.suffix {
  border-radius: 0px 4px 4px 0px;
  border-left: 0;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}

/*
███    ███  ██████  ██████   █████  ██      
████  ████ ██    ██ ██   ██ ██   ██ ██      
██ ████ ██ ██    ██ ██   ██ ███████ ██      
██  ██  ██ ██    ██ ██   ██ ██   ██ ██      
██      ██  ██████  ██████  ██   ██ ███████ 
                                            
                                            
*/

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 9997;
}

.modal--active {
  display: flex;
}

.modal__content {
  background: rgba(255, 255, 255, 1);
  width: 60%;
  min-width: 300px;
  margin: auto;
  position: relative;
  animation: slideUp 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  max-height: 90%;
}

.modal__content--large {
  width: 80%;
}

.modal__header {
  background-color: rebeccapurple;
  color: rgba(255, 255, 255, 0.8);
  padding: 1em;
  position: relative;
}

.modal__close--btn {
  color: #fff;
  text-decoration: none;
  position: absolute;
  top: 0.75em;
  right: 0.75em;
  font-size: 1.5em;
  line-height: 0;
  cursor: pointer;
  z-index: 9998;
  outline: none;
  border: none;
}

.modal__close--btn:hover {
  transform: scale(1.1);
}

.modal__body {
  padding: 1em;
  overflow-y: scroll;
  max-height: 80%;
}

.modal__footer {
  padding: 0.25em;
  display: flex;
  justify-content: flex-end;
}

@keyframes slideUp {
  from {
    opacity: 0;
    bottom: -200px;
  }
  to {
    opacity: 1;
    bottom: 0;
  }
}

/*
 Things that should take precedence
    _  _    __       ______   .______       _______   _______ .______      
 _| || |_ /_ |     /  __  \  |   _  \     |       \ |   ____||   _  \     
|_  __  _| | |    |  |  |  | |  |_)  |    |  .--.  ||  |__   |  |_)  |    
 _| || |_  | |    |  |  |  | |      /     |  |  |  ||   __|  |      /     
|_  __  _| | |    |  `--'  | |  |\  \----.|  '--'  ||  |____ |  |\  \----.
  |_||_|   |_|     \______/  | _| `._____||_______/ |_______|| _| `._____|
                                                                          

 */

/* Färgkodning för omdömen */
.option-IT {
  background-color: #ffd2cf !important;
}

.option-T {
  background-color: #96f2af !important;
}

.option-TEB {
  background-color: #b5f3b5 !important;
}

.option-UB {
  background-color: #feffd9 !important;
}

.option-IT--sharp {
  background-color: #eb746c !important;
}

.option-T--sharp {
  background-color: #47c769 !important;
}

.option-UB--sharp {
  background-color: #e8ee49 !important;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-underline {
  text-decoration: underline;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: 600;
}

.text-small {
  font-size: 0.75rem;
}

.text-color--blue {
  color: #00bfff;
}

.clr--yellow {
  background-color: #ffcc00;
  color: #333;
}

.clr--blue {
  background-color: #00bfff;
  color: #333;
}

.clr--pink {
  background-color: #ff99ff;
  color: #333;
}

.clr--purple {
  background-color: #b399ff;
  color: #333;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  min-width: 0;
  max-width: 100%;
}

.col-1 {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}

.col-2 {
  flex: 0 0 16.666666%;
  max-width: 16.666666%;
}
.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.col-4 {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.col-5 {
  flex: 0 0 41.666667%;
  max-width: 41.666667%;
}
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.col-7 {
  flex: 0 0 58.333333%;
  max-width: 58.333333%;
}
.col-8 {
  flex: 0 0 66.666667%;
  max-width: 66.666667%;
}
.col-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.col-10 {
  flex: 0 0 83.333333%;
  max-width: 83.333333%;
}
.col-11 {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

/* =========================================
* Responsiveness
*
* __   __ .____  .___   _     .   
* |    |  /      /   `  |    /|   
* |\  /|  |__.   |    | |   /  \  
* | \/ |  |      |    | |  /---'\ 
* /    /  /----/ /---/  /,'      \
*
============================================ */

@media screen and (max-width: 1024px) {
  :root {
    font-size: 13px;
  }
  .nav__title {
    font-size: 1.2rem;
  }

  /* .nav__logo {
    width: calc(15%-50px);
  }
  .nav__menu {
    width: calc(65%-50px);
  } */
  .nav__email {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 10px;
  }

  .container {
    /* Since menu is pushed outside, there will be a scroll if you don't remove it. These lines have to do with that*/
    overflow-x: hidden;
    position: relative;
  }

  [class*="col-"] {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%;
  }

  .nav__title {
    display: inline-block;
  }
  .nav__logo {
    flex: 1 0 auto;
  }
  .nav__user {
    flex: 1 0 auto;
    margin: 0.5em;
  }

  .nav__menu {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: #ed730a;
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%); /* Push it to the right*/
    transition: transform 0.5s ease-in;
  }
  .nav__li {
    opacity: 0;
    padding: 1em 0 1em 0;
  }
  .nav__hamburger {
    display: block;
  }

  .reportNav__progressRow {
    flex-direction: column;
  }
  .reportNav__bar {
    width: 100%;
  }

  .btn-save {
    height: 4em;
  }

  .student {
    flex-direction: column;
  }

  .student__col--1,
  .student__col--2 {
    width: 100%;
  }

  .th,
  .td {
    padding: 0;
  }

  .tabs__body {
    width: 100%;
  }
  .teaStat__row {
    flex-direction: column;
    align-items: center;
  }

  .teaStat__col-1,
  .teaStat__col-2 {
    width: 100%;
    text-align: center;
  }

  /* .row {
    flex-direction: column;
  } */

  .sGrid__header,
  .teacher-img {
    display: none;
  }

  .mobile-only--inline {
    display: inline-block;
  }

  .mobile-only--block {
    display: block;
  }

  .asmt-box {
    padding: 0.25em 1em;
    border-radius: 1em;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
  }

  .sGrid__courseTitle {
    font-size: 1.5rem;
  }
}
