rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {     
     match /status-report/{all_terms=**} {
       allow read, write: if request.auth.token.email in
       	get(/databases/$(database)/documents/users/teachers).data.valid_ids;
     }
     match /{everything=**} {
     	allow read, write, create, delete: if request.auth.token.email in
      	 	get(/databases/$(database)/documents/users/admins).data.valid_ids;
     }

     match /status-report/HT20/students/{student_email} {
     	allow read, write: if request.auth.token.email == student_email;
      	 	
     }
  }
}
