body {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ed730a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}

.nav {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.nav__item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 18px;
  height: 100px;
  width: 200px;
  flex: 1;
  margin: 10px;
  border-radius: 12px;
}

.nav__item:hover {
  background-color:#333;
  color: white;

}
.nav__item--black {
  background-color: black;
}

.nav__item--white {
  background-color: white;
}

a {
  text-decoration: none;
  color: inherit;
}